.container {
  width: 770px;
  margin: 0 auto;
}
.container .menu {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.container .menu .half-nav {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 25px;
  grid-auto-flow: column;
}
.container .menu .half-nav li:hover {
  border-bottom: 2px solid black;
  text-shadow: 0 0 1px black;
}
.container .menu .menu-btn {
  border-bottom: 2px solid transparent;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 24px;
  color: #1a1a1a;
  font-family: "Times New Roman";
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.container .menu .menu-btn a {
  color: black;
}
.container .menu .logo {
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 260px;
  height: 137px;
}

.part {
  border: 10px solid black;
  font-size: 36px;
  color: #010101;
  font-weight: bold;
  font-family: "Times New Roman";
  text-align: center;
  text-transform: uppercase;
  height: 100px;
  line-height: 100px;
  width: 300px;
  justify-self: center;
}

.lwcase {
  text-transform: lowercase;
}

.social-btns > .genericon:hover {
  text-shadow: 2px 2px 5px #1d1d1d;
}

.social-btns {
  display: grid;
  grid-template-columns: repeat(6, 30px);
  justify-content: space-evenly;
}
.social-btns .genericon {
  font-size: 30px;
  width: 30px;
  height: inherit;
  color: black;
}
.social-btns :nth-child(1):hover {
  color: #1063fc;
}
.social-btns :nth-child(2):hover {
  color: #3ac9e8;
}
.social-btns :nth-child(3):hover {
  color: #f1f1f1;
}
.social-btns :nth-child(4):hover {
  color: #3b83f6;
}
.social-btns :nth-child(5):hover {
  color: #f1a55d;
}
.social-btns :nth-child(6):hover {
  color: #b32e2e;
}

.image-container {
  position: relative;
}
.image-container .hover-panel {
  padding: 25% 10%;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-template-areas: "search search search" "share info like";
}
.image-container .hover-panel a:hover {
  text-shadow: 0 0 5px #646253;
}
.image-container .hover-panel a:nth-child(1) {
  grid-area: search;
}
.image-container .hover-panel a:nth-child(2) {
  grid-area: share;
}
.image-container .hover-panel a:nth-child(3) {
  grid-area: info;
}
.image-container .hover-panel a:nth-child(4) {
  grid-area: like;
}
.image-container .hover-panel .genericon {
  font-size: 28px;
  font-weight: 600;
  color: black;
  width: 28px;
  height: 28px;
}
.image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #989579;
}

body {
  background-color: #f2efe5;
  display: grid;
  grid-template-rows: 500px auto 500px;
  grid-template-columns: 1fr;
}
body .header {
  padding: 30px;
  background-image: url(../images/Slide.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body .main .about > .image-container:hover > .hover-panel {
  visibility: visible;
}
body .main .about {
  display: grid;
  grid-auto-flow: row;
  grid-column: span 2;
  grid-row: span 2;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
body .main .about .about-part {
  display: grid;
  justify-items: center;
  align-items: center;
  background-image: url(../images/studio.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
}
body .main .about .about-ph {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 7;
  text-align: center;
  display: inline-grid;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  color: black;
  font-family: "Times New Roman";
}
body .main .about .about-ph .ph-icon {
  background-image: url(../images/design.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin: auto;
  height: 56px;
  width: 84px;
}
body .main .about .about-ph .p1 {
  font-size: 18px;
  line-height: 20px;
  padding: 10px 30px;
}
body .main .about .about-ph .p2 {
  font-size: 16px;
  padding: 10px 15px;
}
body .main .about .hover-panel {
  background-color: rgba(207, 203, 186, 0.6);
}
body .main .testimonial {
  background-image: url("../images/tr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 2fr 1fr;
  justify-items: center;
  align-items: center;
  font-family: "Times New Roman";
  color: #f2efe5;
  font-weight: bold;
  height: 350px;
}
body .main .testimonial .testimonial-opening,
body .main .testimonial .testimonial-closing {
  font-size: 130px;
}
body .main .testimonial .testimonial-opening {
  justify-self: end;
  align-self: flex-end;
}
body .main .testimonial .testimonial-closing {
  justify-self: start;
  align-self: flex-end;
}
body .main .testimonial .testimonial-body {
  font-size: 24px;
  color: #f2efe5;
  font-weight: bold;
  font-style: italic;
  text-align: justify;
  align-self: flex-end;
  padding: 0 3px 15px 3px;
}
body .main .testimonial .testimonial-autor {
  grid-row-start: 2;
  grid-column-start: 2;
  justify-self: end;
  align-self: flex-start;
  padding-right: 5%;
  font-size: 18px;
  color: #f2efe5;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
}
body .main .team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
body .main .team .team-part {
  background-image: url(../images/team.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  justify-content: center;
  align-items: center;
}
body .main .team .team-box {
  min-height: 500px;
  overflow: hidden;
}
body .main .team .team-box .teammate-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .main .team .team-box .teammate-card {
  align-items: center;
  background-color: #c5c2b7;
  color: black;
  font-family: "Times New Roman";
  text-align: center;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 0.5fr 2fr 2fr 2fr 0.5fr;
  grid-template-columns: 0.82fr;
  justify-content: space-around;
  align-items: center;
}
body .main .team .team-box .teammate-card .card-name {
  grid-row-start: 2;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
body .main .team .team-box .teammate-card .card-info {
  grid-row-start: 3;
  text-align: left;
  font-size: 14px;
  color: black;
  font-weight: 400;
  font-family: "Open Sans";
}
body .main .team .team-box .teammate-card .card-social {
  grid-row-start: 4;
}
body .main .team .team-box .team-join {
  display: grid;
  justify-content: center;
  text-align: left;
  height: 100%;
  grid-template-rows: 1.8fr 0.6fr 0.6fr 2fr;
  grid-template-columns: 300px;
  justify-items: center;
  text-transform: uppercase;
}
body .main .team .team-box .team-join h2 {
  align-self: flex-end;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  width: 100%;
}
body .main .team .team-box .team-join p {
  font-size: 12px;
  line-height: 12px;
  justify-self: start;
  width: 67%;
}
body .main .team .team-box .team-join .input-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
body .main .team .team-box .team-join .input-container input {
  background-color: transparent;
  font-size: 12px;
  line-height: 21px;
  font-weight: bold;
  font-family: "Times New Roman";
  padding: 0 10px 0 10px;
  height: 40px;
  width: calc(100% - 22px);
  border: 1px solid black;
  outline: none;
}
body .main .team .team-box .team-join button {
  width: 300px;
  height: 40px;
  background-color: #9e9c8b;
  font-family: "Times New Roman";
  border: none;
}
body .main .twitter {
  background-image: url("../images/tw.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 0.8fr 3fr 0.8fr;
  grid-template-rows: 1fr 0.3fr 1fr;
  justify-items: center;
  font-family: "Times New Roman";
  color: #f2efe5;
  font-weight: bold;
  height: 350px;
}
body .main .twitter .twicon {
  background-image: url(../images/twicon.png);
  background-position: center center;
  background-repeat: no-repeat;
  grid-column-start: 2;
  width: 43px;
  height: 35px;
  align-self: end;
}
body .main .twitter p {
  text-align: justify;
  grid-row-start: 3;
  grid-column-start: 2;
  font-size: 22px;
  line-height: 22px;
  color: #f2efe5;
  font-weight: bold;
  font-style: italic;
}
body .main .gallery > .image-container:hover > .hover-panel {
  visibility: visible;
}
body .main .gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  min-height: 1200px;
}
body .main .gallery .hover-panel {
  background-color: rgba(150, 148, 136, 0.6);
}
body .main .gallery .gallery-part {
  background-color: #afaeaa;
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  min-height: 25%;
}
body .main .contact {
  background-color: #e9e7d9;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body .main .contact .contact-titles {
  display: grid;
  grid-template-rows: 2.1fr 0.5fr 0.8fr 1fr 0.7fr;
  grid-template-columns: 0.8fr;
  justify-content: center;
  align-items: center;
}
body .main .contact .contact-titles .contact-salute {
  text-align: center;
}
body .main .contact .contact-titles .container-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
}
body .main .contact .contact-titles .container-info .contact-info b {
  font-weight: bold;
}
body .main .contact .contact-titles .container-info .contact-info b.info-title {
  line-height: 1.4;
  padding: 15px 0;
}
body .main .contact .contact-titles .container-info .contact-info p {
  text-transform: uppercase;
}
body .main .contact .contact-titles .container-info .contact-info .emailANDadress {
  text-transform: none;
}
body .main .contact .contact-form {
  display: grid;
  grid-template-columns: 0.8fr;
  grid-template-rows: 0.59fr 0.41fr 1fr 0.76fr;
  justify-content: center;
  align-items: flex-end;
  font-family: "Times New Roman";
}
body .main .contact .contact-form textarea {
  align-self: center;
  min-height: 50%;
  resize: none;
}
body .main .contact .contact-form input,
body .main .contact .contact-form textarea {
  background-color: transparent;
  font-size: 16px;
  font-family: "Times New Roman";
  line-height: 24px;
  width: auto;
  border: 1px solid black;
  padding: 20px;
}
body .main .contact .contact-form input::-moz-placeholder, body .main .contact .contact-form textarea::-moz-placeholder {
  font-family: "Times New Roman";
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
}
body .main .contact .contact-form input:-ms-input-placeholder, body .main .contact .contact-form textarea:-ms-input-placeholder {
  font-family: "Times New Roman";
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
}
body .main .contact .contact-form input::placeholder,
body .main .contact .contact-form textarea::placeholder {
  font-family: "Times New Roman";
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
}
body .main .contact .contact-form button {
  align-self: flex-start;
  width: 85%;
  background-color: #9e9c8b;
  font-family: "Times New Roman";
  color: white;
  padding: 20px;
  text-transform: uppercase;
  border: none;
}
body .main .map {
  border: 0;
}
body .main .map #map {
  margin-bottom: -3px;
  filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="g"><feColorMatrix type="matrix" values="0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0 0 0 1 0"/></filter></svg>#g');
  filter: grayscale(100%) brightness(1.1);
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
}
body .footer {
  background-color: #aeaeae;
  display: inline-grid;
  grid-template-rows: 1fr 2fr 1fr;
  align-items: center;
}
body .footer .copywr {
  font-size: 12px;
  line-height: 22px;
  color: #000000;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
}