//?Need variables?
$main: #000;
$main-light: #f2efe5;

$part: #010101;

$text-btn: #fff;
$text-nav: #1a1a1a;
$text-form: #333333;
$text-placeholder: #9c9a95;

$mark-map: #8b623c;

$background-card: #cbc7b5;
$background-button: #999679;
$background-part: #afab9b;
$background-contact: #e7e4cf;
$background-footer: #adadad;

$transparent-about: rgba(207, 204, 186, 0.7);
$transparent-gallery: rgba(153, 150, 127, 0.6);
$hover-shadow: #646253;

$icon-facebook: #1063fc;
$icon-twitter: #3ac9e8;
$icon-tumblr: #f1f1f1;
$icon-linkedin: #3b83f6;
$icon-instagram: #f1a55d;
$icon-google: #b32e2e;

// !module will be mark like !Md
// *first come modules parts

//default
.logo {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
}

// !Md
// navigations

.dl {
    position: relative;
    background-color: transparent;
}

.dl .dt {
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 24px;
    font-family: 'Times New Roman';
    background-color: $main;
    z-index: 50;
    text-decoration: none;
    box-shadow: $main;
}
.dt a {
    color: $main-light;
    text-transform: uppercase;
}

.arrow-up {
    z-index: 100;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-image: url(../images/arrow-up.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 40px;
    padding: -3px;
    text-decoration: none;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.668);
}

//mobile tablet
@media (max-width: 820px) {
    .container {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        .menu {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: space-between;
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr 1fr 0.5fr;
            height: 100%;
            .half-nav {
                display: grid;
                justify-content: center;
                align-content: center;
                grid-auto-flow: column;
                gap: 16px;
                li:hover {
                    border-bottom: 2px solid $main;
                    text-shadow: 0 0 1px $main;
                    transition: text-shadow 0.1s;
                }
            }
            .menu-btn {
                border-bottom: 2px solid transparent;
                font-size: 12px;
                letter-spacing: 0px;
                line-height: 24px;
                color: $text-nav;
                font-family: 'Times New Roman';
                font-weight: 600;
                text-align: center;
                text-transform: uppercase;
                a {
                    color: $main;
                }
            }
            .logo {
                width: 100%;
                padding: 0;
            }
        }
    }
}

//desktop
@media screen and (min-width: 820px) {
    .container {
        width: 60%;
        margin: 0 auto;
        .menu {
            display: grid;
            gap: 25px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            .half-nav {
                display: grid;
                justify-content: center;
                align-content: center;
                gap: 25px;
                grid-auto-flow: column;
                li:hover {
                    border-bottom: 2px solid $main;
                    text-shadow: 0 0 1px $main;
                    transition: text-shadow 0.1s;
                }
            }
            .menu-btn {
                border-bottom: 2px solid transparent;
                font-size: 12px;
                letter-spacing: 0px;
                line-height: 24px;
                color: $text-nav;
                font-family: 'Times New Roman';
                font-weight: 600;
                text-align: center;
                text-transform: uppercase;
                a {
                    color: $main;
                }
            }
            .logo {
                width: 260px;
                height: 137px;
            }
        }
    }
}

// !Md
// *parts logos
.part {
    border: 10px solid $part;
    font-size: 36px;
    color: $part;
    font-weight: bold;
    font-family: 'Times New Roman';
    text-align: center;
    text-transform: uppercase;
    height: 100px;
    line-height: 100px;
    width: 300px;
    justify-self: center;
}

// !Md
//uppercase class
.lwcase {
    text-transform: lowercase;
}

// !Md
//soc btns
.social-btns > .genericon:hover {
    text-shadow: 0 0 4px $main;
}
.social-btns {
    display: grid;
    grid-template-columns: repeat(6, 30px);
    justify-content: space-evenly;
    .genericon:hover {
        transition: all 0.1s;
    }
    .genericon {
        font-size: 30px;
        width: 30px;
        height: inherit;
        color: $main;
    }
    :nth-child(1):hover {
        color: $icon-facebook;
    }
    :nth-child(2):hover {
        color: $icon-twitter;
    }
    :nth-child(3):hover {
        color: $icon-tumblr;
    }
    :nth-child(4):hover {
        color: $icon-linkedin;
    }
    :nth-child(5):hover {
        color: $icon-instagram;
    }
    :nth-child(6):hover {
        color: $icon-google;
    }
}

// !Md
//image-panel
.image-container {
    position: relative;
    .hover-panel {
        background-color: transparent;
        padding: 25% 10%;
        visibility: hidden;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
        grid-template-areas:
            'search search search'
            'share info like';
        a:hover {
            text-shadow: 0 0 4px $hover-shadow;
            transition: all 0.1s;
            font-size: 38px;
            width: 38px;
            height: 38px;
        }
        a:nth-child(1) {
            grid-area: search;
        }
        a:nth-child(2) {
            grid-area: share;
        }
        a:nth-child(3) {
            grid-area: info;
        }
        a:nth-child(4) {
            grid-area: like;
        }
        .genericon {
            font-size: 28px;
            font-weight: 600;
            color: $main;
            width: 28px;
            height: 28px;
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

button {
    background-color: $background-button;
    font-family: 'Times New Roman';
    color: $text-btn;
    text-transform: uppercase;
    border: none;
}
button:hover {
    box-shadow: 0 0 3px $background-button;
    text-shadow: 0 0 1px $text-btn;
}

//!_________________________________________________
// main styling

//default
html {
    scroll-behavior: smooth;
    body {
        position: relative;
        background-color: $main-light;
        display: grid;
        grid-template-columns: 1fr;

        .header {
            background-image: url(../images/Slide.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .main {
            .about > .image-container:hover > .hover-panel {
                visibility: visible;
            }
            .about {
                display: grid;
                grid-auto-flow: row;
                grid-column: span 2;
                grid-row: span 2;

                .about-part {
                    display: grid;
                    justify-items: center;
                    align-items: center;
                    background-image: url(../images/studio.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }

                .about-ph {
                    text-align: center;
                    display: inline-grid;
                    justify-content: center;
                    align-items: center;
                    color: $main;
                    font-family: 'Times New Roman';

                    .ph-icon {
                        background-image: url(../images/design.png);
                        background-repeat: no-repeat;
                        background-position: center center;
                        margin: auto;
                        height: 56px;
                        width: 84px;
                    }
                    .p1 {
                        font-size: 18px;
                        line-height: 20px;
                        padding: 10px 30px;
                    }
                    .p2 {
                        font-size: 16px;
                        padding: 10px 15px;
                    }
                }

                .hover-panel {
                    background-color: $transparent-about;
                }
            }

            .testimonial {
                background-image: url('../images/tr.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background-attachment: fixed;
                display: grid;
                justify-items: center;
                align-items: center;
                font-family: 'Times New Roman';
                color: $main-light;
                font-weight: bold;
                height: 350px;
                .testimonial-body {
                    font-size: 24px;
                    font-weight: bold;
                    font-style: italic;
                    text-align: justify;
                    align-self: flex-end;
                    padding: 0 3px 15px 3px;
                }
                .testimonial-autor {
                    grid-row-start: 2;
                    grid-column-start: 2;
                    justify-self: end;
                    align-self: flex-start;
                    padding-right: 5%;
                    font-size: 18px;
                    font-style: italic;
                    text-align: center;
                    text-transform: uppercase;
                }
            }

            .team {
                display: grid;
                .team-part {
                    background-image: url(../images/team.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    display: grid;
                    justify-content: center;
                    align-items: center;
                }
                .team-box {
                    overflow: hidden;
                    .teammate-image {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .teammate-card {
                        align-items: center;
                        background-color: $background-card;
                        color: black;
                        font-family: 'Times New Roman';
                        text-align: center;
                        height: 100%;
                        width: 100%;
                        display: grid;
                        .card-name {
                            grid-row-start: 2;
                            font-size: 24px;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                        .card-info {
                            grid-row-start: 3;
                            text-align: left;
                            font-size: 14px;
                            color: $main;
                            font-weight: 400;
                            font-family: 'Open Sans';
                        }
                        .card-social {
                            grid-row-start: 4;
                        }
                    }
                    .team-join {
                        display: grid;
                        justify-content: center;
                        text-align: left;
                        height: 100%;
                        justify-items: center;
                        text-transform: uppercase;
                        h2 {
                            align-self: flex-end;
                            font-size: 14px;
                            line-height: 18px;
                            font-weight: bold;
                            width: 100%;
                        }
                        p {
                            font-size: 12px;
                            line-height: 12px;
                            justify-self: start;
                            width: 67%;
                        }
                        .input-container {
                            width: 100%;
                            height: fit-content;
                            input {
                                background-color: transparent;
                                font-size: 12px;
                                line-height: 21px;
                                font-weight: bold;
                                font-family: 'Times New Roman';
                                padding: 0 10px 0 10px;
                                height: 40px;
                                width: calc(100% - 22px);
                                border: 1px solid $main;
                                outline: none;
                            }
                        }
                        button {
                            width: 300px;
                            height: 40px;
                        }
                    }
                }
            }

            .twitter {
                background-image: url('../images/tw.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background-attachment: scroll;
                z-index: -1;
                position: fixed;
                display: grid;
                justify-items: center;
                font-family: 'Times New Roman';
                color: $main-light;
                font-weight: bold;
                height: 350px;
                .twicon {
                    background-image: url(../images/twicon.png);
                    background-position: center center;
                    background-repeat: no-repeat;
                    grid-column-start: 2;

                    width: 43px;
                    height: 35px;
                    align-self: end;
                }
                p {
                    text-align: justify;
                    grid-row-start: 3;
                    grid-column-start: 2;
                    font-size: 22px;
                    line-height: 22px;
                    font-weight: bold;
                    font-style: italic;
                }
            }

            .gallery > .image-container:hover > .hover-panel {
                visibility: visible;
            }

            .gallery {
                display: grid;
                min-height: 1200px;
                .hover-panel {
                    background-color: $transparent-gallery;
                }

                .gallery-part {
                    background-color: $background-part;
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    min-width: 50%;
                    min-height: 25%;
                }
            }
            .contact {
                background-color: $background-contact;
                display: grid;
                .contact-titles {
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    .contact-salute {
                        text-align: center;
                    }
                    .container-info {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        justify-content: center;
                        align-items: flex-start;
                        .contact-info {
                            b {
                                font-weight: bold;
                            }
                            b.info-title {
                                line-height: 1.4;
                                padding: 15px 0;
                            }
                            p {
                                text-transform: uppercase;
                            }
                            .emailANDadress {
                                text-transform: none;
                            }
                        }
                    }
                }

                .contact-form {
                    display: grid;
                    justify-content: center;
                    align-items: flex-end;
                    font-family: 'Times New Roman';
                    input,
                    textarea {
                        background-color: transparent;
                        font-family: 'Times New Roman';
                        width: auto;
                        border: 1px solid $main;
                        align-self: center;
                        resize: none;
                    }
                    input::placeholder,
                    textarea::placeholder {
                        font-family: 'Times New Roman';
                        text-transform: uppercase;
                    }
                    button {
                        padding: 20px;
                    }
                }
            }
            .map {
                border: 0;
                height: fit-content;
                #map {
                    margin-bottom: -3px;
                    filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="g"><feColorMatrix type="matrix" values="0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0 0 0 1 0"/></filter></svg>#g');
                    filter: grayscale(100%) brightness(1.1);
                    filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
                }
            }
        }
        .footer {
            align-items: center;
            background-color: $background-footer;
            display: inline-grid;
            .copywr {
                color: $main;
                font-weight: 400;
                font-family: 'Roboto';
                text-align: center;
            }
        }
    }
}

//mobile tablet
@media (max-width: 819px) {
    body {
        grid-template-rows: 288px auto 288px;
        .header {
            padding: 0;
        }

        .main {
            .about {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(8, 1fr);
                .about-part {
                    grid-row-start: 1;
                    grid-row-end: 2;
                    grid-column-start: 1;
                    grid-column-end: 3;
                }

                .about-ph {
                    grid-row-start: 2;
                    grid-row-end: 3;
                    grid-column-start: 1;
                    grid-column-end: 3;
                    padding: 28px 0;
                }
            }

            .testimonial {
                grid-template-columns: 1fr 3fr 1fr;
                grid-template-rows: 2fr 0.6fr;
                .testimonial-opening {
                    justify-self: end;
                    align-self: center;
                    margin-top: -80%;
                }
                .testimonial-closing {
                    justify-self: start;
                    align-self: flex-end;
                }
                .testimonial-opening,
                .testimonial-closing {
                    font-size: 80px;
                }
            }

            .team {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, 1fr);
                .team-part {
                    grid-row-start: 1;
                    grid-row-end: 2;
                    grid-column-start: 1;
                    grid-column-end: 3;
                }
                .team-box:nth-child(5) {
                    grid-area: 3 / 1 / 4 / 2;
                }
                .team-box:nth-child(6) {
                    grid-area: 4 / 1 / 5 / 3;
                }
                .team-box {
                    overflow: hidden;
                    .teammate-card {
                        grid-template-rows: 0.1fr 0.5fr 1fr 0.5fr 0.1fr;
                        grid-template-columns: 0.82fr;
                        justify-content: space-around;
                        align-items: center;
                        padding: 6px;
                        .card-name {
                            grid-row-start: 2;
                            font-size: 24px;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                        .card-info {
                            grid-row-start: 3;
                            text-align: left;
                            font-size: 14px;
                            color: $main;
                            font-weight: 400;
                            font-family: 'Open Sans';
                        }
                        .card-social {
                            grid-row-start: 4;
                            margin: 0 auto;
                            .social-btns {
                                grid-template-columns: 1fr 1fr 1fr;
                                grid-template-rows: 1fr 1fr;
                                gap: 6px;
                            }
                        }
                    }
                    .team-join {
                        grid-template-rows: 0.8fr 0.6fr 0.6fr 1fr;
                        grid-template-columns: 300px;
                    }
                }
            }

            .twitter {
                grid-template-columns: 0.8fr 3fr 0.8fr;
                grid-template-rows: 0.4fr 0.3fr 0.9fr;
            }

            .gallery {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(10, 1fr);
                min-height: 1200px;
                .gallery-part {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    display: grid;
                }
            }
            .contact {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
                .contact-titles {
                    grid-template-rows: 1.6fr 0.5fr 0.8fr 0.7fr;
                    grid-template-columns: 0.8fr;
                    .container-info {
                        grid-template-columns: 1fr 1fr;
                        gap: 30px;
                    }
                }

                .contact-form {
                    grid-template-columns: 0.8fr;
                    grid-template-rows: 0.2fr 0.2fr 0.6fr 0.3fr;
                    textarea {
                        min-height: 70%;
                    }

                    input,
                    textarea {
                        font-size: 16px;
                        line-height: 24px;
                        padding: 12px;
                    }
                    input::placeholder,
                    textarea::placeholder {
                        font-size: 16px;
                        line-height: 24px;
                    }
                    button {
                        align-self: flex-start;
                        width: 100%;
                        padding: 12px;
                    }
                }
            }
        }
        .footer {
            display: inline-grid;
            grid-template-rows: 0 2.8fr 0.2fr;

            .copywr {
                font-size: 12px;
                line-height: 22px;
            }
        }
    }
}

//desktop
@media screen and (min-width: 820px) {
    body {
        grid-template-rows: 500px auto 500px;
        .header {
            padding: 30px;
        }
        .main {
            .about {
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(4, 1fr);
            }
            .about-part {
                display: grid;
                justify-items: center;
                align-items: center;
                background-image: url(../images/studio.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                grid-row-start: 1;
                grid-row-end: 3;
                grid-column-start: 1;
                grid-column-end: 4;
            }

            .about-ph {
                grid-row-start: 1;
                grid-row-end: 3;
                grid-column-start: 4;
                grid-column-end: 7;
                text-align: center;
                display: inline-grid;
                justify-content: center;
                align-items: center;
                padding: 80px 0;
                color: $main;
                font-family: 'Times New Roman';
            }

            .testimonial {
                grid-template-columns: 1fr 3fr 1fr;
                grid-template-rows: 2fr 1fr;
                .testimonial-opening {
                    justify-self: end;
                    align-self: flex-end;
                }
                .testimonial-closing {
                    justify-self: start;
                    align-self: flex-end;
                }
                .testimonial-opening,
                .testimonial-closing {
                    font-size: 130px;
                }
            }

            .team {
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                .team-box {
                    min-height: 500px;
                    overflow: hidden;
                    .teammate-image {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .teammate-card {
                        grid-template-rows: 0.5fr 2fr 2fr 2fr 0.5fr;
                        grid-template-columns: 0.82fr;
                        justify-content: space-around;
                        align-items: center;
                    }
                    .team-join {
                        grid-template-rows: 1.8fr 0.6fr 0.6fr 2fr;
                        grid-template-columns: 300px;
                    }
                }
            }

            .twitter {
                grid-template-columns: 0.8fr 3fr 0.8fr;
                grid-template-rows: 1fr 0.3fr 1fr;
            }

            .gallery {
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(5, 1fr);
                min-height: 1200px;

                .gallery-part {
                    grid-column-start: 1;
                    grid-column-end: 3;
                }
            }
            .contact {
                background-color: $background-contact;
                display: grid;
                grid-template-columns: 1fr 1fr;
                .contact-titles {
                    grid-template-rows: 2.1fr 0.5fr 0.8fr 1fr 0.3fr;
                    grid-template-columns: 0.8fr;
                    justify-content: center;
                    align-items: center;
                }

                .contact-form {
                    grid-template-columns: 0.8fr;
                    grid-template-rows: 0.89fr 0.41fr 1.4fr 0.66fr;
                    justify-content: center;
                    align-items: flex-end;
                    textarea {
                        align-self: center;
                        min-height: 50%;
                    }

                    input,
                    textarea {
                        font-size: 16px;
                        line-height: 24px;
                        width: auto;
                        padding: 20px;
                    }
                    input::placeholder,
                    textarea::placeholder {
                        font-size: 16px;
                        line-height: 24px;
                    }
                    button {
                        align-self: flex-start;
                        width: 85%;
                        padding: 20px;
                    }
                }
            }
        }
        .footer {
            grid-template-rows: 0.1fr 1fr 0.1fr;
            .copywr {
                font-size: 12px;
                line-height: 22px;
            }
        }
    }
}
